<h1>
  NIMBUS DEMO APP
</h1>
<nav>
  <button type="button" class="btn btn-primary" routerLink="/reg-user">Registration</button>
  <button type="button" class="btn btn-info" routerLink="/user-list">List Of Users</button>
  <button type="button" class="btn btn-info" routerLink="/search-user">Search by Full Name</button>
</nav>
<hr>
<ng2-toasty></ng2-toasty>
<router-outlet></router-outlet>
